{
    "parserOptions": {
      "ecmaVersion": 2018,
      "sourceType": "module"
    },
    "env": {
      "es6": true,
      "node": true,
      "mocha": true
    },
    "plugins": ["vue"],
    "rules": {
      "no-console": 0
    },
    "extends": ["plugin:vue/recommended"]
  }